<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="http://localhost:3000/adminPage">Toate Licitatiile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/adminPage/topModel">Top Model Telefon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/adminPage/topVanzator">Top Vanzatori</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="http://localhost:3000/adminPage/telefonRecent" tabindex="-1" >Telefon Recent</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="http://localhost:3000/adminPage/castigatorLicitatie" tabindex="-1" >Castigator Licitatie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="http://localhost:3000/adminPage/peste2500" tabindex="-1" >Peste 2500</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="http://localhost:3000/adminPage/nelicitate" tabindex="-1" >Nelicitate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="http://localhost:3000/adminPage/stergeStare" tabindex="-1" >Sterge stare</a>
    </li>
  </ul>